<!DOCTYPE html>
<html>
    <head>
       <title>Phobos</title>
       <link rel="stylesheet" href="Login.css"/>
    </head>
    <body>
        <h1>Phobos</h1>
        <form action="index.php" method="post">
            <h3>Login</h3>
           <input type="text" name="email" placeholder="Please enter email" required/> <br/>
           <input type="password" name="password" placeholder="Please enter password" required/> <br/>
           <input type="submit" name="login" value="Log In"/> <br/>

        </form>
        <a href="">Forgot password?</a>
        <p>Not registered yet? <a href="templates/Register.html">Register</a></p>
    </body>
</html>