<!DOCTYPE html>
<html>
    <head>
      <title>Registration</title>
      <link rel="stylesheet" href="Register.css">
    </head>
    <body>
        <form action="index.php" method="post">
           <h3>Create Account</h3> <br/>
           <input type="text" name="name" placeholder="Please Enter first name" required/> <br/>
           <input type="text" name="surname" placeholder="Please Enter last name" required/> <br/>
           <input type="email" name="email" placeholder="Please Enter Email" required /> <br/>
           <input type="file" id="image" name="image" accept="image/*;capture=camera"/><br/>
           <input type="password" name="password" placeholder="Please Enter Password"
           required /> <br/>
           <input type="submit" name="submit" value="Register"/>
        </form>
    </body>
</html>